video {
    max-width: 100%;
}


#controls ul {
    max-width: 600px;
    float: right;
}

/* .progress-bar,
.volume-bar,
.btnReplay,
.btnStop{
    display: none;
} */

#controls ul li {
    max-width: 400px;
    float: right;
}

#controls ul li button {
    color: #000 !important;
    text-transform: uppercase;
    background: #ffffff;
    padding: 4px 10px;
    border: 1px solid #000 !important;
    border-radius: 2px;
    margin-left: 10px;
    margin-right: 10px;
}

#controls ul li button:hover {
    color: #ffffff !important;
    background: #000;
    border-color: #000 !important;
    transition: all 0.4s ease 0s;
    cursor: pointer;
}