<div class="feature-block" [ngStyle]="{'background-color': bgColor, 'color': textColor}">
    <div class="container">
        <h2 [ngStyle]="{'color': headingColor}">Features</h2>
        <ul class="features-list">
            <li [ngStyle]="{'text-align': alignLeft}">
                <span class="icon-wrap">
                    <span class="material-icons"  [ngStyle]="{'color': iconColor, 'font-size': iconSize}">announcement</span>                    
                </span>
                <p [ngStyle]="{'font-size': textSize}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem asperiores eligend</p>
            </li>
            <li [ngStyle]="{'text-align': alignLeft}">
                <span class="icon-wrap">
                    <span class="material-icons"  [ngStyle]="{'color': iconColor, 'font-size': iconSize}">audiotrack</span> 
                </span>
                <p [ngStyle]="{'font-size': textSize}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem asperiores eligend</p>
            </li>
            <li [ngStyle]="{'text-align': alignLeft}">
                <span class="icon-wrap">
                    <span class="material-icons"  [ngStyle]="{'color': iconColor, 'font-size': iconSize}">attach_money</span>
                </span>
                <p [ngStyle]="{'font-size': textSize}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem asperiores eligend</p>
            </li>
            <li [ngStyle]="{'text-align': alignLeft}">
                <span class="icon-wrap">
                    <span class="material-icons"  [ngStyle]="{'color': iconColor, 'font-size': iconSize}">burst_mode</span> 
                </span>
                <p [ngStyle]="{'font-size': textSize}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem asperiores eligend</p>
            </li>
            <li [ngStyle]="{'text-align': alignLeft}">
                <span class="icon-wrap">
                    <span class="material-icons"  [ngStyle]="{'color': iconColor, 'font-size': iconSize}">announcement</span> 
                </span>
                <p [ngStyle]="{'font-size': textSize}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem asperiores eligend</p>
            </li>
            <li [ngStyle]="{'text-align': alignLeft}">
                <span class="icon-wrap">
                    <span class="material-icons"  [ngStyle]="{'color': iconColor, 'font-size': iconSize}">camera_enhance</span> 
                </span>
                <p [ngStyle]="{'font-size': textSize}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem asperiores eligend</p>
            </li>
        </ul>
    </div>
</div>