#controls ul {
    list-style-type: none;
}

#controls ul li {
    width: 100%;
    text-align: right;
}

#controls ul li button, 
#controls ul li input{
    width: 200px;
    font-size: 1.6rem;
    font-weight: 900;
    background: #011f26;
    border: none;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 10px 10px
}

#controls ul li #progress-bar {
    width: 100%;
}