

<ng-container *ngFor="let contentComponent of configuration.content.additional">
  <dynamic-loader [moduleName]="contentComponent.name"></dynamic-loader>
</ng-container>


<div>
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">{{componentPath}}</h1>
    <div class="row center">
      <h5 class="header col s12 light">All content is hardcoded. Will end up being dynamic soon!</h5>
    </div>
    <div class="row center">
      <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
    </div>
    <br><br>

  </div>
</div>

<div class="container">
  <div class="section">


    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Speeds up development</h5>

          <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
          <h5 class="center">User Experience Focused</h5>

          <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Easy to work with</h5>

          <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Speeds up development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">User Experience Focused</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Easy to work with</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
          </div>
        </div>
      </div>

  </div>
  <br><br>
</div>
</div>


<!--
<div class="video-banner">

</div>

<div class="paper">


  <article>

    <h1>
      DYNAMIKFABRIKKEN
    </h1>
    <p>
      It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
      recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>


    <div class="img-deco">
      <img src="https://dynamikfabrikken.com/img/anders_schmidt.jpg" alt="Anders Schmidt" />
      <div class="img-overlay"></div>
    </div>


    <div id='player'>
      <video id='video-element' autoplay="autoplay" loop="loop">
        <source src='../assets/dummyimages/h264_1080_best.mp4' type='video/mp4'>
        <source src='https://www.w3schools.com/html/mov_bbb.ogg' type='video/ogg'>
      </video>
      <div id='controls'>
       <ul>
         <li>
            <progress id='progress-bar' min='0' max='100' value='0'>0% played</progress>
         </li>
         <li style="display: none;">
            <button id='btnReplay' class='replay' title='replay' accesskey="R" onclick='replayVideo();'>Replay</button>
         </li>
         <li style="display: none;">
            <button id='btnStop' class='stop' title='stop' accesskey="X" onclick='stopVideo();'>Stop</button>
         </li>
         <li style="display: none;">
            <input type="range" id="volume-bar" title="volume" min="0" max="1" step="0.1" value="1">
         </li>
         <li style="display: none;">
            <button id='btnMute' class='mute' title='mute' onclick='muteVolume();'>Mute</button>
         </li>
         <li>
            <button id='btnPlayPause' class='play' title='play' accesskey="P" onclick='playPauseVideo();'>PAUSE</button>
            <button id='btnFullScreen' class='fullscreen' title='toggle full screen' accesskey="T" onclick='toggleFullScreen();'>[&nbsp;&nbsp;]</button>
         </li>
       </ul>
      </div>
    </div>

    <h1>
        DYNAMIKFABRIKKEN
      </h1>
      <p>
        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
        recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>

      <h1>
          DYNAMIKFABRIKKEN
        </h1>
        <p>
          It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
          recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>    <h1>
            DYNAMIKFABRIKKEN
          </h1>
          <p>
            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
            recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>    <h1>
              DYNAMIKFABRIKKEN
            </h1>
            <p>
              It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
              recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>    <h1>
                DYNAMIKFABRIKKEN
              </h1>
              <p>
                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
              </p>    <h1>
                  DYNAMIKFABRIKKEN
                </h1>
                <p>
                  It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                  recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                </p>

  </article>



</div>
-->