<div id="skip-intro-btn" class="button">Skip intro</div>
<div id="particles-js"></div>

<div id="video-container">
    <video id="video" autoplay="autoplay">
        <source src='../assets/graphics/dynamikfabrikken/dynamikfabrikken.mp4'  type='video/mp4'>
          <!--
        <source src='../assets/graphics/dynamikfabrikken/dynamikfabrikken.ogg'  type='video/ogg'>
          -->
    </video>
</div>


<ng-container *ngFor="let menu of menus">
  <section class="section" [id]="menu.path" [ngClass]="{'section--footer': menu.path=='kontakt', 'section--top': menu.path=='forside'}">
    <ng-container *ngIf="menu.content;else noContent">
      <div class="section__content">
        <h1 class="headline">Page name: {{menu.path}}</h1>
        <div class="headline-desc" *ngFor="let content of menu.content">
          <dynamic-loader [moduleName]="content.name"></dynamic-loader>
        </div>
      </div>
    </ng-container>
    <ng-template #noContent>

          <!-- frontpage / top -->
          <div class="section__content" *ngIf="menu.path == 'forside'">
            <h1 class="headline">Dynamikfabrikken</h1>
            <div class="headline-desc">
              <p>Spænd hjelmen. Dynamiske webapplikationer kræver hårdt arbejde.</p>
              <p>Vi er heldigvis ikke bange for lidt sved på panden.</p>
            </div>
          </div>

          <!-- anbefaliger -->
          <div class="section__content" *ngIf="menu.path == 'anbefalinger'">
            <h2 class="headline">{{menu.path}}</h2>
            <div class="button-wrapper">
              <p>sksks</p>
              <!--
                <a href="#" class="button">Se mere</a>
                <a href="#" class="button">Kontakt os</a>
-->

<p class="rectangle-speech-border">
This will be awsome
</p>

<!--
<div _ngcontent-c0="" class="statment slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide00" aria-describedby="slick-slide-control00" style="width: 907px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0; height: 228px; transition: opacity 500ms linear 0s;">
          <p _ngcontent-c0="" class="text-small">
            Vi har haft fornøjelsen af at samarbejde med Anders om to opgaver: Redesign af vores hjemmeside samt opgaven med at gøre os i stand til selv at redigere.
            <br _ngcontent-c0="">
            <br _ngcontent-c0="">
            Samarbejdet har båret præg af stor fleksibilitet fra Anders side - hurtige leverancer og kort reaktionstid!
            <br _ngcontent-c0="">
            <br _ngcontent-c0="">
            Og så har han formået at gøre os selvkørende, fordi han taler et sprog, vi forstår.
            <br _ngcontent-c0="">
            Tak for samarbejdet :)
            <br _ngcontent-c0="">
            <br _ngcontent-c0="">
            <br _ngcontent-c0="">
          </p>
          <div _ngcontent-c0="" class="statment-footer">
            <span _ngcontent-c0="" class="statment-sender">
              <img _ngcontent-c0="" alt="Aarhus Kommune - Dynamikfabrikken" src="https://dynamikfabrikken.com/img/AAK2.png">
            </span>
            <span _ngcontent-c0="" class="statment-sender">
              Trine Naldal, Projektleder i Borgerdesign Aarhus
            </span>
            <span _ngcontent-c0="" class="statment-sender">
              Aarhus Kommune / Region Midtjylland
            </span>
            <span _ngcontent-c0="" class="statment-sender">
              <a _ngcontent-c0="" href="http://borgerdesignaarhus.dk" target="_blank" tabindex="-1">
                borgerdesignaarhus.dk
              </a>
            </span>
          </div>
        </div>
-->
<!--
                <div _ngcontent-c0="" class="statment slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide02" aria-describedby="slick-slide-control02" style="width: 907px; position: relative; left: -1894px; top: 0px; z-index: 998; opacity: 0; height: 228px; transition: opacity 500ms linear 0s;">
                    <p _ngcontent-c0="" class="text-small">
                      Vi har været glade for forløbet med Anders, han er en dygtig digital håndværker og har realiseret alle vores ønsker.
                      <br _ngcontent-c0="">
                      <br _ngcontent-c0="">
                      Derudover er han meget fleksibel og står altid klar til at hjælpe både med SEO og mere tekniske spørgsmål.
                      <br _ngcontent-c0="">
                      Med et højt niveau af både service og håndværk giver vi vores bedste anbefalinger videre.
                      <br _ngcontent-c0="">
                      <br _ngcontent-c0="">
                    </p>
                    <div _ngcontent-c0="" class="statment-footer">
                      <span _ngcontent-c0="" class="statment-sender">
                        <img _ngcontent-c0="" alt="Q-Construction - Dynamikfabrikken" src="https://dynamikfabrikken.com/img/qconstruction.jpg" style="max-height: 80px;">
                      </span>
                      <span _ngcontent-c0="" class="statment-sender">
                        Charlotte Thomsen
                      </span>
                      <span _ngcontent-c0="" class="statment-sender">
                        Kommunikationsmedarbejder, Q-Construction
                      </span>
                      <span _ngcontent-c0="" class="statment-sender">
                        <a _ngcontent-c0="" href="http://www.qconstruction.dk" target="_blank" tabindex="-1">
                          qconstruction.dk
                        </a>
                      </span>
                    </div>
                  </div>
                -->


<!--
                  <div _ngcontent-c0="" class="statment slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="tabpanel" id="slick-slide01" aria-describedby="slick-slide-control01" style="width: 907px; position: relative; left: -947px; top: 0px; z-index: 998; opacity: 0; height: 228px; transition: opacity 500ms linear 0s;">
                      <p _ngcontent-c0="" class="text-small">
                        Det startede med udformning af ny hjemmeside samt grafisk identitet. Dynamikfabrikken er endt med at blive vores It afdeling, som ud over at håndtere online markedsføring, også tager vare på det interne netværk og udstyr.
                        <br _ngcontent-c0="">
                        <br _ngcontent-c0="">
                        Anders og Dynamikfabrikken giver os frirum til det, vi er gode til.
                        <br _ngcontent-c0="">
                        <br _ngcontent-c0="">
                      </p>
                      <div _ngcontent-c0="" class="statment-footer">
                        <span _ngcontent-c0="" class="statment-sender">
                          <img _ngcontent-c0="" alt="Sparta Logistic - Dynamikfabrikken" src="https://dynamikfabrikken.com/img/sparta_logo.png">
                        </span>
                        <span _ngcontent-c0="" class="statment-sender">
                          Claus Midthaard Hammer
                          <span _ngcontent-c0="" class="statment-sender">
                          </span>
                          Partner, Spartelog
                          <span _ngcontent-c0="" class="statment-sender">
                          </span>
                          <a _ngcontent-c0="" href="http://www.spartalog.com" target="_blank" tabindex="-1">
                            spartalog.com
                          </a>
                        </span>
                      </div>
                      </div>
                    -->


              </div>
          </div>

          <!-- the movie -->
          <div class="section__content" *ngIf="menu.path == 'the-movie'">
              <h2 class="headline">{{menu.path}}</h2>
          </div>

          <!-- kontakt -->
          <div class="section__content" *ngIf="menu.path == 'kontakt'">
              <div class="typo">
                <h2>KONTAKT - DYNAMIKFABRIKKEN</h2>
                <p>V. Anders Bak Schmidt Holm</p>
                <p><a href="tel:+4531375043" >+45 31375043</a></p>
                <p><a href="mailto:info@dynamikfabrikken.com">info@dynamikfabrikken.com</a></p>
                <p><a href="skype:anders.schmidt.holm?chat">Skype: anders.schmidt.holm</a></p>
              </div>
           </div>

    </ng-template>
  </section>
</ng-container>


<!--
<ng-container *ngFor="let menu of menus">
  <div [id]="menu.path" style="border: 1px solid red; margin-bottom: 20px; min-height: 500px">
    <ng-container *ngIf="menu.content;else noContent">
      <h1>Page name: {{menu.path}}</h1>
      <div *ngFor="let content of menu.content">
        <dynamic-loader [moduleName]="content.name"></dynamic-loader>
      </div>
    </ng-container>
    <ng-template #noContent>
      <h1>Page name: {{menu.path}}</h1>
      <h1>Page doesn't have any content configured in db.json</h1>
    </ng-template>
  </div>
</ng-container>
-->

<!--
  STATIC FRONTEND

  <section class="section">
    <div class="section__content">
      <h2 class="headline">DYNAMIKFABRIKKEN</h2>
      <div class="headline-desc">
        <p>Spænd hjelmen. Dynamiske webapplikationer kræver hårdt arbejde.</p>
        <p>Vi er heldigvis ikke bange for lidt sved på panden.</p>
      </div>
      <div class="button-wrapper">
        <a href="#" class="button">Se mere</a>
        <a href="#" class="button">Kontakt os</a>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="section__content">
      <h2 class="headline">DYNAMIKFABRIKKEN</h2>
      <div class="headline-desc">
        <p>Spænd hjelmen. Dynamiske webapplikationer kræver hårdt arbejde.</p>
        <p>Vi er heldigvis ikke bange for lidt sved på panden.</p>
      </div>
      <div class="button-wrapper">
        <a href="#" class="button">Se mere</a>
        <a href="#" class="button">Kontakt os</a>
      </div>
    </div>
  </section>
  <section class="section section--footer">
    <div class="section__content">
      <div class="typo">
        <h2>DYNAMIKFABRIKKEN</h2>
        <p>V. Anders Bak Schmidt Holm</p>
        <p><a href="tel:+4531375043">+45 31375043</a></p>
        <p><a href="mailto:info@dynamikfabrikken.com">info@dynamikfabrikken.com</a></p>
        <p><a href="skype:anders.schmidt.holm?chat">Skype: anders.schmidt.holm</a></p>
      </div>
    </div>
  </section>
  -->