<section [ngClass]="'ad-comp comp-' + content.name + containerClass + cccBg(colClass, isWhite) + cccText(colClass, isWhite)">
    <div class="banner-block" *ngIf="content.src">
        <div class="teaser-wrap">
            <div class="image-wrap" [ngStyle]="{'background-image': 'url('+ content.src + ')', 'order': orderSecond}">
            </div>
            <div class="caption" [ngStyle]="{'order': orderFirst}" >
                <div [innerHTML]="replaceButtonClass(content.markup)">
                </div>
            </div>

            <!-- DELETEME-->
            <h1>THIS IS EXAMPLE OF INNER_HTML STYLING</h1>
            <div [innerHTML]="deleteMeLater"></div>
            <!-- DELETEME-->
        </div>
    </div>
</section>
