<div class="banner-block">
    <div class="">
        <div class="row ">
            <div class="image-wrap" [ngStyle]="{'background-image': 'url('+imgSrc+')', 'order': orderSecond}">
            </div>
            <div class="caption" [ngStyle]="{'order': orderFirst}">
                <h1>teaser goes hereteaser goes hereteaser goes hereteaser goes here</h1>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, veritatis? Iure officiis
                    explicabo quis rerum quos facilis vel repellat quisquam.</p>
                <a href="#" class="btn">view more</a>
            </div>
        </div>
    </div>
</div>