

<!--
    <ng-container *ngFor="let contentComponent of configuration.content.additional">
      <dynamic-loader [moduleName]="contentComponent.name"></dynamic-loader>
    </ng-container>
-->




<div class="video-banner">

</div>

<div class="paper">
  <article>
    <h1>
      DYNAMIKFABRIKKEN
    </h1>
    <p>
      It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
      recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>

<!--    <div class="img-deco">
      <img src="https://dynamikfabrikken.com/img/anders_schmidt.jpg" alt="Anders Schmidt" />
      <div class="img-overlay"></div>
    </div>
-->


  </article>
</div>
