.item {
  box-sizing: border-box;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-btn {
  position: absolute;
  margin: auto;
  top: 125px;
  border-radius: 999px;
  right: 60px;
  z-index: 100;
  font-size: 48px;
  cursor: pointer;
}

.right-btn {
  position: absolute;
  margin: auto;
  top: 125px;
  border-radius: 999px;
  right: 10px;
  z-index: 100;
  font-size: 48px;
  cursor: pointer;
}

.point {
  left: 0px;
  list-style-type: none;
  text-align: center;
  padding: 12px;
  margin: 0;
  white-space: nowrap;
  overflow: auto;
  box-sizing: border-box;
  position: absolute;
  bottom: 8px;
  right: 0px;
  cursor: pointer;
}

.point  li {
  display: inline-block;
  border-radius: 50%;
  padding: 5px;
  margin: 0 6px;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: 0.4s;
  background-color: #fff;
  opacity: 0.6;
}
.point  li.active {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 100px;
  right: 0px;
  width: 100px;
  height: 72px;
  font-size: 2em;
  color: #ccc;
  padding-top: 12px;
  padding-left: 26px;
}

.ngucarousel-items {
  transition: none !important;
}
