<div class="feature-block" [ngStyle]="{'background-color': bgColor, 'color': textColor}">
    <div class="container">
        <h2 [ngStyle]="{'color': headingColor}">KUNDEUDTALELSER</h2>
        <div class="two-blocks">
            <div class="image-block"></div>
            <div class="text-block" [ngStyle]="{'background-color': textBlockBg}">
                <blockquote>
                    <q>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et nobis quam sapiente sequi eligendi. Assumenda cumque esse reiciendis laudantium praesentium.</q>
                    <cite>
                        <strong class="name">Test name</strong>
                        <span class="designation">Manager</span>
                    </cite>
                </blockquote>
            </div>
        </div>
    </div>
</div>