<header class="header-and-menu">
  <dynamic-loader [moduleName]="configuration.component.header"></dynamic-loader>
  <dynamic-loader [moduleName]="configuration.component.menu"></dynamic-loader>
</header>


<div class="wrapper">
  <main class="content">
    <router-outlet></router-outlet>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
    <p>Test</p>
  </main>

  <footer>
    <dynamic-loader [moduleName]="configuration.component.footer"></dynamic-loader>
  </footer>
</div>